/*default settings*/

body {
    margin:0;
}
a {
    text-decoration: none;
}
body {
    background: FF99FF url(fade.png) 0 0 repeat-y;
    background: -webkit-linear-gradient(right, #7a5151, #FF99FF); 
    background: linear-gradient(to right, #7a5151, #FF99FF);
}

/* mobile */
@media ( max-width:900px ) {
#header {
   width:100%;
   height:100px;
}
#logo img{
   width: 80px;
   padding:10px;
 
}
#menu {
position:relative;
bottom:150px;
float:right;
display:none;
}
#menu li {
float:left;
list-style-type: none;
padding:30px;
font-family: 'Labrada', serif;


}
#checkbox{
    float:right;
}
input:checked +#menu {
    display:block;
}
#header label {
    float:right;
    font-size:70px;
    position: relative;
    bottom:90px;
    right:20px;
}
#header input {
    display:none;
}
#menu a {
    color:palegoldenrod;
    float:left;
    background-color: darkred;
    width: 80px;
    height: 100px;

}
#mijloc {
    padding:150px 50px;
}
#mijloc p {
    font-family:'Josefin Slab';
}
#galerie {
    padding-top:50px;
}
#galerie .owl-prev, #galerie .owl-next {
    font-size: 100px;
    color:darkgreen;
    position:relative;
    bottom:100px;
   }

   #galerie .owl-nav {
    text-align: center;
   }

/* SERVICES */

.services-mijloc img {
    margin:auto;   
}
.abc {
    object-fit: cover;
    padding:10px;
    
}
#services-mijloc {
    padding-top:200px;
    padding-bottom:100px;
    padding-left:20px;

}
}

/* About us */

/* desktop */


@media ( min-width:900px ) {
body {
    max-width:1200px;
    margin:auto;
}
#header {
    width:80%;
    margin:auto;
    height:100px;
}
#menu {
    display:block;
    list-style-type: none;
    float:right;
    position:relative;
    bottom:100px;
}
#menu li {
    color:black;
    width: 100px;
    height: 50px;
    float:left;
    padding:35px;
    font-family: 'Labrada', serif;
}
#menu a{
    color:black;
   
}
#logo img{
    height:80px;
    padding:10px 10px;
}
#abc {
    display:none;
}
label {
    display:none;
}
#mijloc {
   height:6
}
#mijloc h1 {
    text-align: center;
    padding-bottom:200px;
    font-family:'Labrada', serif;
    text-decoration: underline;
}
#mijloc p {
    font-family: 'Mynerve', cursive;
        padding-bottom:100px;
    line-height:30px;
}
#scris p{
    font-family:'Mynerve', cursive;
    margin:auto;
}
#scris2 p{
    font-family:'Mynerve', cursive;
    margin:auto;
    padding-top:100px;
}
#scris {
    float:left;
}
#scris2 {
    position:relative;
    bottom:600px;
    left:650px;
}
#final {
    width:50%;
    height:auto;
    height:600px;
    padding-top:100px;
    margin-bottom:150px;
}

/* SERVICES */
.container{
    width: 80%;
    height:130vh;
   

}
.service {
    padding-top:100px;
}
.container h1{
    text-align: center;
    padding-top:10px;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;
    left:200px;

}
.container h1::after {
    content: '';
    background: #303ef7;
    width: 150px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    transform: translateX(-50%);
    text-align: center;
}
.row {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
}
.container {
    position:relative;
    top:100px;
    margin:auto;
    text-align: center;
}
.service {
    font-family:'Labrada' serif;
}
.service p {
    font-weight: 200;
    
}
.service h2 {
    font-family:'Poppins';
}



/* About-us */

html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 70%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  .about-section h1 {
    position:relative;
    left:250px;
  }
  
  .angajat {
    padding: 0 16px;
  }
  
  .angajat::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  /* Contact */
  
input[type=text], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical;
  }

  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #45a049;
  }
  .contain {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 50px;
}
